<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Store</title>
</head>
<body>
    <h1>Store</h1>
    <button type="button">Store</button>
    <ul>
        <li>Catalog</li>
        <li>Enter</li>
        <li><ul>
            <li>Profile</li>
            <li>Orders</li>
            <li>Admin dash-board</li>
            <hr>
            <li>Logout</li>
        </ul></li>
        <br>        
    </ul>
    <h2>Store</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus exercitationem est eveniet porro maiores sint, mollitia voluptatibus, odit repellat amet fugit doloribus similique laborum at ab soluta consectetur. Similique, illum!</p>
    <button type="button">Start ordering</button>
</body>
</html>